<section class="about-text my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="h5">Как мы начинали</p>
                <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores cumque cupiditate dolor dolore est explicabo facilis ipsam iure, laboriosam libero magni modi quidem ratione reiciendis sequi velit voluptatem voluptatibus!</p>
                <p class="h5 mt-5">Наша цель</p>
                <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur cupiditate dolores ea earum, eligendi enim expedita facere fugiat inventore ipsa molestias mollitia nemo nesciunt non officiis quam ratione repudiandae!</p>
            </div>
            <div class="col-md-6 rounded-circle">
                <img src="../../../assets/images/lam.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="about-history my-5 p-5 bg-silver">
    <div class="container">
        <h3 class="text-center mb-5">Наши шаги</h3>
        <div class="row">
            <div class="col-md-4 position-relative left-30">
                <div class="step">
                    <p class="title">Moscow, 2019</p>
                    <div class="inner d-flex pb-5">
                        <img src="../../../assets/images/lam.jpg" alt="">
                        <p>fadofpajefpjj9j eajfadofpajefpjj9j eaj9 ejaf9j e99 ejaf9j e9</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="step">
                    <p class="title">Moscow, 2019</p>
                    <div class="inner d-flex pb-5">
                        <img src="../../../assets/images/lam.jpg" alt="">
                        <p>fadofpajefpjj9j eajfadofpajefpjj9j eaj9 ejaf9j e99 ejaf9j e9</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top">
            <div class="col-md-4"></div>
            <div class="col-md-4 step_b">
                <div class=" pt-5">
                    <div class="inner d-flex pb-2">
                        <img src="../../../assets/images/lam.jpg" alt="">
                        <p>fadofpajefpjj9j eajfadofpajefpjj9j eaj9 ejaf9j e99 ejaf9j e9</p>
                    </div>
                    <p class="title">Moscow, 2019</p>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>

<section class="about-offer my-5 p-5">
    <div class="container">
        <h3 class="text-center mb-5">Что мы предлагаем</h3>
        <div class="row">
            <div class="col-md-6 text-center">
                <p class="h4">Персоналу</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ducimus odit placeat quos reiciendis repellendus saepe soluta totam. Corporis dicta excepturi hic id iste itaque iure iusto libero molestias, ratione.</p>
            </div>
            <div class="col-md-6 text-center">
                <p class="h4">Клиентам</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam aspernatur, at culpa cum cupiditate dolor, eius facere impedit ipsum magni nemo neque officia quis repellat saepe soluta temporibus tenetur?</p>
            </div>
        </div>
    </div>
</section>