<div class="container mx-3">
    <div class="row">
        <div class="col-md-4">
            <form [formGroup]="addForm" (submit)="addItem()">
                <input type="text" class="advanced-input" formControlName="name" placeholder="Название">
                <textarea class="advanced-input" formControlName="description" placeholder="Описание"></textarea>
                <input type="file" id="add-item-images" class="advanced-input" accept="image/*" multiple>
                <label for="add-item-images">Добавить изображения</label>
                <div id="images" class="images"></div>
                <input type="text" class="advanced-input" formControlName="price" placeholder="Цена">
                <select formControlName="subCategory">
                    <option *ngFor="let subCategory of subCategories" value="{{subCategory.id}}">{{subCategory.name}}</option>
                </select>
                <button type="submit" class="advanced-input">Добавить</button>
            </form>
        </div>
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Country</th>
                        <th scope="col">Area</th>
                        <th scope="col">Population</th>
                        <th scope="col">Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ item.name }}</td>
                        <td>{{ item.count }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                            <button class="rename-button border-0 bg-white" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Сохранить" ><fa-icon [icon]="icons.check"></fa-icon></button>
                            <button class="remove-button border-0 bg-white mx-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Удалить" ><fa-icon [icon]="icons.times" class="text-danger"></fa-icon></button>
                            <button class="open-button border-0 bg-white" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Удалить" >\/</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>