.about-history .step::after{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: #ffb000;
    border-radius: 50%;
    position: relative;
    top: 8px;
    left: -58px;
}

.about-history .step_b::before{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: #ffb000;
    border-radius: 50%;
    position: relative;
    top: -9px;
    left: -58px;
}

.about-history .step, .step_b{
    border-left: 2px solid silver;
    padding-left: 50px;
}

.about-history .step .title{
    position: relative;
    top: -10px;
}

.about-history .title::before{
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background-color: silver;
    position: relative;
    left: -50px;
    top: 10px;
}

.about-history .inner p{
    margin-left: 15px;
    font-size: 12px;
    font-style: italic;
}

.about-history .inner img{
    max-width: 40%;
}

.step_b .title{
    position: relative;
    top: 30px;
}

#contact-map{
    height: 400px;
}