<app-header></app-header>

<section class="contacts content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="h3 text-center">Свяжитесь с нами</p>
                <p class="fst-italic text-center my-4 text-black-50">Мы работаем на горячей линии 24/7 и стараемся отвечать в течении часа.
                    <br>Вы также можете задать нам вопрос с помощью этой формы.</p>
                <form action="#">
                    <div class="row">
                        <div class="col-md-6"><input type="text" class="advanced-input" placeholder="Имя"></div>
                        <div class="col-md-6"><input type="tel" class="advanced-input" placeholder="+0 (000) 000 00 00"></div>
                        <div class="col-md-12"><textarea type="text" class="advanced-input" placeholder="Начните писать и я пропаду =)"></textarea></div>
                        <div class="col-md-6"><input type="text" class="advanced-input" placeholder="E-mail"></div>
                        <div class="col-md-6"><button class="advanced-input text-uppercase">Отправить</button></div>
                    </div>
                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 border-start ps-5">
                <div class="row">
                    <div class="col-md-12 social border-bottom pb-3">
                        <p class="text-uppercase fs-6 family-montserrat">Социальные сети</p>
                        <a href="#"><fa-icon [icon]="icons.vk"></fa-icon></a>
                        <a href="#"><fa-icon [icon]="icons.twitter"></fa-icon></a>
                        <a href="#"><fa-icon [icon]="icons.instagram"></fa-icon></a>
                    </div>
                    <div class="col-md-12 phone border-bottom py-3">
                        <p class="text-uppercase fs-6 family-montserrat pb-3">Телефоны</p>
                        <p><fa-icon [icon]="icons.whatsapp"></fa-icon><a href="tel:0">8 000 000 00 00</a></p>
                        <p><fa-icon [icon]="icons.phone"></fa-icon><a href="tel:0">8 000 000 00 00</a></p>
                    </div>
                    <div class="col-md-12 email border-bottom py-3">
                        <p class="text-uppercase fs-6 family-montserrat pb-3">E-mail</p>
                        <p><fa-icon [icon]="icons.envelope"></fa-icon><a href="mail:test@mail.ru">test@mail.ru</a></p>
                    </div>
                    <div class="col-md-12 address pt-3">
                        <p class="text-uppercase fs-6 family-montserrat pb-3">Адрес</p>
                        <p class="text-black-50"><fa-icon [icon]="icons.mark"></fa-icon>Москва, улица Седина, д.34</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>