.admin #add-item-images{
    display: none;
}

.admin #add-item-images + label:hover{
    cursor: pointer;
}

.admin .images #image{
    height: 100px;
    width: 108px;
    margin: 5px;
}

.admin .rename-button:enabled{
    color: #00d24b;
}