<div class="container">
    <div class="row">

        <div class="col-sm-2">
            <input [(ngModel)]="idSearch" type="text" class="advanced-input" placeholder="Id">
        </div>
        <div class="col-sm-4">
            <input [(ngModel)]="nameSearch" type="text" class="advanced-input" placeholder="Name">
        </div>
        <div class="col-sm-6">
            <select class="advanced-input" [(ngModel)]="categorySearch">
                <option value="0">Null</option>
                <option *ngFor="let category of categories" ngValue="{{category.id}}">{{ category.name }}</option>
            </select>
        </div>

        <div class="col-sm-12 fw-bolder row py-2 mt-2">
            <div class="col-sm-1">#</div>
            <div class="col-sm-6">Название</div>
            <div class="col-sm-3">Категория</div>
            <div class="col-sm-2">Операции</div>
        </div>

        <div class="contain">

            <div class="border-top py-2"
                 *ngFor="let subcategory of subcategories | searchId: idSearch | searchName: nameSearch | searchCategory: categorySearch">
                <app-subcategory (subcategoryEmitter)="removeSubCategory(subcategory)" [subcategory]="subcategory"
                                 [categories]="categories"></app-subcategory>
            </div>

        </div>

    </div>
</div>