<div class="content">

    <section class="banner">
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item>
                <div class="view w-100">
                    <img class="d-block w-100" src="../../../assets/images/boardroom.png" alt="First slide">
                    <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="view w-100">
                    <img class="d-block w-100" src="../../../assets/images/boardroom.png" alt="Second slide">
                    <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="view w-100">
                    <img class="d-block w-100" src="../../../assets/images/boardroom.png" alt="Third slide">
                    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </section>

    <section class="home-categories my-5">
        <div class="container">
            <div class="home-title">
                <p class="h3">Наша коллекция</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <a href="#">
                        <div class="card text-white">
                            <img src="../../../assets/images/door.jpg" class="card-img" alt="door.img">
                            <div class="card-img-overlay bg-dark">
                                <h3 class="card-title">Двери</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <a href="#">
                        <div class="card text-white">
                            <img src="../../../assets/images/lam.jpg" class="card-img" alt="lam.img">
                            <div class="card-img-overlay bg-dark">
                                <h3 class="card-title">Ламинат</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <a href="#">
                        <div class="card text-white">
                            <img src="../../../assets/images/paper.jpg" class="card-img" alt="paper.img">
                            <div class="card-img-overlay bg-dark">
                                <h3 class="card-title">Обои</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="home-about my-5 bg-silver">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-6 m-auto">
                    <p class="h3">Немного о нас</p>
                    <p class="h5">Я и мои товарищи...</p>
                </div>
                <div class="col-6 col-md-6">
                    <img src="../../../assets/images/women.jpeg" class="d-block" alt="img.rector">
                </div>
            </div>
        </div>
    </section>

    <section class="home-popular my-5">
        <div class="container">
            <div class="home-title d-flex justify-content-between">
                <p class="h3 float-start">Часто смотрят</p>
                <p class="h5 float-end">Просмотреть</p>
            </div>
            <div class="home-slider">
                <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
                              [animation]="'slide'">
                    <mdb-carousel-item *ngFor="let item of slides; let i = index">
                        <div class="col-md-4" *ngFor="let card of item; let cardIndex = index">
                            <mdb-card class="my-1">
                                <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
                                <mdb-card-body>
                                    <mdb-card-title>
                                        <h4>{{card.title}}</h4>
                                    </mdb-card-title>
                                    <p>{{card.description}}</p>
                                    <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>{{card.buttonText}}</a>
                                </mdb-card-body>
                            </mdb-card>
                        </div>
                    </mdb-carousel-item>
                </mdb-carousel>
            </div>
        </div>
    </section>

</div>