<div class="container">
    <div class="row">

        <div class="col-sm-3">
            <label class="visually-hidden" for="specificSizeInputGroupUsername">Username</label>
            <div class="input-group">
                <div class="input-group-text">#</div>
                <input type="text" class="form-control" id="specificSizeInputGroupUsername" placeholder="Username">
            </div>
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="Jane Doe">
        </div>
        <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="Jane Doe">
        </div>
        <div class="col-sm-3">
            <input type="checkbox" class="advanced-input">
        </div>

        <div class="col-sm-12 pt-2">
            <div class="row fw-bolder">
                <div class="font-weight-bold col-sm-1">#</div>
                <div class="font-weight-bold col-sm-3">Название</div>
                <div class="font-weight-bold col-sm-6">Связанные подкатегории</div>
                <div class="font-weight-bold col-sm-2">Операции</div>
            </div>
            <div class="border-top py-2" *ngFor="let category of categories">
                <app-category (categoryEmitter)="removeCategory(category)" [category]="category"></app-category>
            </div>
        </div>

    </div>
</div>