<footer>
    <div class="container">
        <div class="row">
<!--            <div class="col-12 col-sm-4">-->
<!--                <div class="logo">-->
<!--                    <img src="../../../../assets/images/logo.png" alt="logotype">-->
<!--                    <p class="mt-3">Обои • Двери • Ламинат</p>-->
<!--                    <p>Хорошее качество, доступная цена!</p>-->
<!--                </div>-->
<!--            </div>-->
            <div class="col-6 col-sm-3">
                <p class="title">Навигация</p>
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" routerLink="/">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/catalog">Каталог</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/about">О нас</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/contact">Контакты</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-3">
                <p class="title">Категории</p>
                <ul class="nav flex-column">
                    <li class="nav-item" *ngFor="let category of categories">
                        <a class="nav-link" [routerLink]="['/catalog', category.name]">{{category.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4">
                <p class="title">Контакты</p>
                <ul class="nav flex-column" *ngIf="info">
                    <li class="nav-item" *ngIf="info.email">
                        <a [href]="'mailto:' + info.email" class="nav-link"><fa-icon [icon]="icons.mail"></fa-icon> {{info.email}}</a>
                    </li>
                    <li class="nav-item" *ngIf="info.phone">
                        <a [href]="'tel:' + info.phone" class="nav-link"><fa-icon [icon]="icons.phone"></fa-icon> {{info.phone}}</a>
                    </li>
                    <li class="nav-item" *ngIf="info.whatsapp">
                        <a [href]="'https://api.whatsapp.com/send?phone=' + info.whatsapp"><fa-icon [icon]="icons.whatsApp"></fa-icon> {{info.whatsapp}}</a>
                    </li>
                    <li class="nav-item" *ngIf="info.address">
                        <fa-icon [icon]="icons.mark"></fa-icon> {{info.address}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>