<div class="card">
    <img *ngIf="item.images[0] != null" class="preview"
         src="{{ '../../assets/images/uploaded/' + item.images[0] }}" alt="img.item">
    <img *ngIf="item.images[0] == null" class="preview" src="assets/images/preview.jpg" alt="img.item">
    <fa-icon class="wish"
             [icon]="user && userWishList.includes(item.id) ? icons.heart : icons.hearted"
             (click)="wish($event, item)"></fa-icon>
    <div class="p-3">
        <p class="fw-bold">{{ item.name }}</p>
        <p class="float-start">Запас: {{ item.count }}</p>
        <p class="float-end fs-5">{{ item.price }} ₽</p>
        <button (click)="addLook(item)" class="advanced-input" [routerLink]="['/product', item.id]">Смотреть</button>
    </div>
</div>