.card .preview{
    height: 172px;
}

.wish{
    background: white;
    border-radius: 50%;
    padding: 1% 3%;
    color: #ffe186;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 15px;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.3);
    transition: .3s;
}

.wish:hover{
    transform: scale(1.2);
    transition: .3s;
}