<form #updateForm="ngForm" class="update-form d-flex row">
    <input type="hidden" ngModel="{{subCategory.id}}" name="id">
    <div class="col-sm-1">{{subCategory.id}}</div>
    <div class="col-sm-3"><input name="name" class="w-100 border-0" ngModel="{{subCategory.name}}" type="text"></div>
    <div class="col-sm-4">
        <a href="#" *ngFor="let item of subCategory.items">{{item.name}},&#8194;</a>
    </div>
    <div class="col-sm-2">
        <select name="category" ngModel="{{subCategory.category}}" *ngIf="subCategory.id != 1">
            <option *ngFor="let category of categories" ngValue="{{category.id}}">{{ category.name }}</option>
        </select>
    </div>
    <div class="col-sm-2 d-flex align-items-baseline" *ngIf="subCategory.id != 1">
        <button [disabled]="!updateForm.touched" class="update-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Сохранить" (click)="onUpdate(updateForm)"><fa-icon [icon]="icons.check"></fa-icon></button>
        <button class="remove-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Удалить" (click)="onDelete(subCategory)"><fa-icon [icon]="icons.times"></fa-icon></button>
        <button class="open-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Развернуть" (click)="expanded = !expanded"><fa-icon [icon]="icons.open"></fa-icon></button>
    </div>
    <div class="col-sm-12 row overflow-hidden" [ngClass]="expanded ? 'expanded' : 'collapsed'">
        <div class="col-sm-4 images">
            <input type="file" id="add-category-image-{{subCategory.id}}" class="advanced-input d-none" (change)="imageLoader.load($event)" accept="image/*">
            <label for="add-category-image-{{subCategory.id}}">
                <img class="image" *ngIf="subCategory.image == null && imageLoader.loadImage == null" src="assets/images/preview.jpg" alt="img">
                <img class="image" *ngIf="subCategory.image == null && imageLoader.loadImage != null" src="{{imageLoader.loadImage}}" alt="img">
                <img class="image" *ngIf="subCategory.image != null && imageLoader.loadImage == null" src="assets/images/uploaded/{{subCategory.image}}" alt="img">
                <img class="image" *ngIf="subCategory.image != null && imageLoader.loadImage != null" src="{{imageLoader.loadImage}}" (click)="imageLoader.removeImage($event)" alt="img">
            </label>
        </div>
    </div>
</form>