<form [formGroup]="form" (submit)="onAddItem()">
    <input type="text" formControlName="title" ngbPopover="
        Поле пустое: {{ !form.get('title').errors.required ? 'Good' : 'Bad' }}
        ">
    <input type="text" formControlName="description">
    <input type="text" formControlName="price">
    <input type="text" formControlName="count">

    <button [disabled]="form.invalid" type="submit">Добавить</button>
</form>
<div *ngFor="let item of items">
    <form #editForm="ngForm">
        <input type="hidden" name="id" ngModel="{{item.id}}">
        <input type="text" name="title" ngModel="{{item?.title}}">
        <input type="text" name="description" ngModel="{{item?.description}}">
        <input type="text" name="price" ngModel="{{item?.price}}">
        <input type="text" name="count" ngModel="{{item?.count}}">
        <button (click)="deleteItem(item.id)">X</button>
        <button (click)="updateItem(editForm.value)">Okey</button>
    </form>
</div>