<form #updateForm="ngForm" class="update-form d-flex row">
    <input type="hidden" name="id" ngModel="{{ item.id }}">
    <div class="col-md-1"><p>{{ item.id }}</p></div>
    <div class="col-md-2"><input type="text" class="w-100 border-0" name="name" ngModel="{{ item.name }}"></div>
    <div class="col-md-2"><input type="text" class="w-100 border-0" name="price" ngModel="{{ item.price }}"></div>
    <div class="col-md-2"><input type="text" class="w-100 border-0" name="count" ngModel="{{ item.count }}"></div>
    <div class="col-md-3">
        <select name="subCategory" ngModel="{{ item.subCategory.id }}">
            <option *ngFor="let subCategory of subCategories" value="{{ subCategory.id }}">{{ subCategory.name }}</option>
        </select>
    </div>
    <div class="col-md-2 d-flex align-items-baseline">
        <button [disabled]="!updateForm.touched" class="update-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Сохранить" (click)="updateItem(updateForm)"><fa-icon [icon]="icons.check"></fa-icon></button>
        <button class="remove-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Удалить" (click)="deleteItem(item)"><fa-icon [icon]="icons.times"></fa-icon></button>
        <button class="open-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Удалить" (click)="openItem($event)"><fa-icon [icon]="icons.open"></fa-icon></button>
    </div>
    <div class="col-md-12 row">
        <div class="col-md-6">
            <input type="text" class="border-0" name="description" ngModel="{{ item.description }}">
        </div>
        <div class="col-md-6 images">
            <input type="file" id="add-image" class="advanced-input d-none" (change)="imageLoader.load($event)" accept="image/*" multiple>
            <label for="add-image">Добавить изображения</label>
            <img src="{{ image }}" *ngFor="let image of imageLoader.loadImages" class="image" (click)="imageLoader.removeImage($event)" alt="">
            <img src="/assets/images/uploaded/{{ image }}" *ngFor="let image of item.images" (click)="imageLoader.remImage($event, image)" class="image" alt="">
        </div>
    </div>
</form>