<form #updateForm="ngForm">

    <div class="col-sm-12 row">

        <input type="hidden" name="id" ngModel="{{ item.id }}">

        <div class="col-sm-1">
            {{ item.id }}
        </div>
        <div class="col-sm-2">
            <input type="text" class="w-100 border-0" name="name" ngModel="{{ item.name }}">
        </div>
        <div class="col-sm-2">
            <input type="text" class="w-100 border-0" name="price" ngModel="{{ item.price }}">
        </div>
        <div class="col-sm-2">
            <input type="text" class="w-100 border-0" name="count" ngModel="{{ item.count }}">
        </div>
        <div class="col-sm-3">
            <select class="advanced-select" name="subCategory" ngModel="{{ item.subCategory }}">
                <option *ngFor="let subCategory of subCategories" value="{{ subCategory.id }}">{{ subCategory.name }}</option>
            </select>
        </div>
        <div class="col-sm-2 d-flex align-items-baseline">
            <button [disabled]="!updateForm.touched" class="update-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Сохранить" (click)="updateItem(updateForm)"><fa-icon [icon]="icons.check"></fa-icon></button>
            <button class="remove-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Удалить" (click)="deleteItem(item)"><fa-icon [icon]="icons.times"></fa-icon></button>
            <button appClick180 class="open-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Развернуть" (click)="expanded = !expanded"><fa-icon [icon]="icons.open"></fa-icon></button>
        </div>

    </div>

    <div class="col-sm-12 row overflow-hidden" [ngClass]="expanded ? 'expanded' : 'collapsed'">
        <div class="col-sm-6 images border-end mt-3">
            <p class="fw-bolder">Изображения</p>
            <input type="file" [id]="'add-image-' + item.id" class="d-none" (change)="imagesLoader.load($event)" accept="image/*" multiple>
            <label class="add-image fs-2" [for]="'add-image-' + item.id"><fa-icon [icon]="icons.plus"></fa-icon></label>
            <img src="{{ image }}" *ngFor="let image of imagesLoader.loadImages" class="image" (click)="imagesLoader.removeImage($event)" alt="">
            <img src="/assets/images/uploaded/{{ image }}" *ngFor="let image of item.images" (click)="imagesLoader.remImage($event, image)" class="image" alt="">
        </div>
        <div class="col-sm-6">
            <p class="fw-bolder mt-3">Описание</p>
            <input type="text" class="border-0" name="description" ngModel="{{ item.description }}">
        </div>
    </div>
</form>