<div class="row justify-content-sm-around">
    <div class="col-sm-4">
        <input type="text" class="advanced-input" [(ngModel)]="search" placeholder="Search">
    </div>
    <div class="col-sm-2">
        <input type="text" class="advanced-input" [(ngModel)]="min" placeholder="Min">
    </div>
    <div class="col-sm-2">
        <input type="text" class="advanced-input" [(ngModel)]="max" placeholder="Max">
    </div>
    <div class="col-sm-1">
        <input type="checkbox" class="advanced-input" [(ngModel)]="available">
    </div>
    <div class="col-sm-2">
        <button class="advanced-input" (click)="filter()">Ok</button>
    </div>
</div>

<div class="row mb-4">
    <div class="col-sm-2">
        <ul class="d-flex list-unstyled size-list align-items-center m-0 p-0">
            <li class="mx-2" (click)="pageSize = 8" [ngClass]="pageSize == 8 ? 'active' : ''">8</li>
            <li class="mx-2" (click)="pageSize = 12" [ngClass]="pageSize == 12 ? 'active' : ''">12</li>
            <li class="mx-2" (click)="pageSize = 16" [ngClass]="pageSize == 16 ? 'active' : ''">16</li>
            <li class="mx-2" (click)="pageSize = 20" [ngClass]="pageSize == 20 ? 'active' : ''">20</li>
        </ul>
    </div>
    <div class="col-md-10">
        <ul class="d-flex list-unstyled justify-content-end size-list my-0">
            <li class="mx-2" [ngClass]="sortName ? 'active' : ''" (click)="sortByName()">Название</li>
            <li class="mx-2" [ngClass]="sortPrice ? 'active' : ''" (click)="sortByPrice()">Цена</li>
            <li class="mx-2" [ngClass]="sortLook ? 'active' : ''" (click)="sortByLook()">Просмотры</li>
            <li class="mx-2" [ngClass]="sortCount ? 'active' : ''" (click)="sortByCount()">Количество</li>
        </ul>
    </div>
</div>

<div class="col-sm-12">
    <div class="row gy-3">
        <div class="col-lg-3 col-sm-4" *ngFor="let item of paginatedItems">
            <ng-template [ngIf]="item != null">
                <div class="card">
                    <img *ngIf="item.images[0] != null" class="preview"
                         src="{{ '../../assets/images/uploaded/' + item.images[0] }}" alt="img.item">
                    <img *ngIf="item.images[0] == null" class="preview" src="assets/images/preview.jpg" alt="img.item">
                    <div class="p-3">
                        <p class="fw-bold">{{ item.name }}</p>
<!--                        <p class="small">{{ item.description }}</p>-->
                        <p class="float-start">Запас: {{ item.count }}</p>
                        <p class="float-end fs-5">{{ item.price }} ₽</p>
                        <button (click)="addLook(item)" [routerLink]="['/product', item.id]">Смотреть</button>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>

<div class="col-sm-12 mt-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <button class="btn" [disabled]="pageIndex == 0" (click)="goIndex(pageIndex - 1)">
                    <fa-icon [icon]="icons.left"></fa-icon>
                </button>
            </li>
            <li class="page-item" *ngFor="let page of pages">
                <button class="btn"
                        [ngStyle]="pageIndex == page ? {background: 'rgb(255 254 214)'} : {background: 'white'}"
                        (click)="goIndex(page)">{{page + 1}}
                </button>
            </li>
            <li class="page-item">
                <button class="btn" [disabled]="pageIndex == pages.length - 1"
                        (click)="goIndex(pageIndex + 1)">
                    <fa-icon [icon]="icons.right"></fa-icon>
                </button>
            </li>
        </ul>
    </nav>
</div>