.preview {
    height: 200px;
}

.card {
    min-height: 360px;
}

.card button{
    width: 100%;
    padding: 3%;
    background: #ffe18699;
    border: none;
}

.card button:hover{
    background: #ffe186;
}

.size-list li {
    cursor: pointer
}

.size-list li:hover {
    color: #ffe186
}

.active {
    color: #ffe186;
}

.advanced-input{
    height: 40px;
}

input[type=checkbox].advanced-input{
    width: 20%;
    height: 20px !important;
}

/*#edeef0*/