<app-header></app-header>

<section class="banner">
    <div id="banner" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/doors.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/wallpaper.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/boardroom.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#banner" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#banner" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section class="home-categories my-5">
    <div class="container">

        <div class="home-title">
            <p class="h3">Наша коллекция</p>
        </div>

        <app-slider *ngIf="homeCollection; else preloader1" [displaySize]="3" [sliderSize]="homeCollection.length">
            <app-slide *ngFor="let category of homeCollection">
                <a [routerLink]="['catalog/', category.name]">
                    <div class="card text-white">
                        <img *ngIf="category.image == null" src="../../../assets/images/preview.jpg" class="card-img"
                             alt="door.img">
                        <img *ngIf="category.image != null" [src]="'../../../assets/images/uploaded/' + category.image"
                             class="card-img" alt="door.img">
                        <div class="card-img-overlay bg-dark">
                            <h3 class="card-title">{{ category.name }}</h3>
                        </div>
                    </div>
                </a>
            </app-slide>
        </app-slider>
        <ng-template #preloader1>
            <app-preloader type="2"></app-preloader>
        </ng-template>
    </div>
</section>

<section class="home-about my-5 bg-silver">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 m-auto">
                <p class="h3">Немного о нас</p>
                <p class="h5">Я и мои товарищи...</p>
            </div>
            <div class="col-6 col-sm-6">
                <img src="../../../assets/images/women.jpeg" class="d-block" alt="img.rector">
            </div>
        </div>
    </div>
</section>

<section class="home-popular my-5">
    <div class="container">
        <div class="home-title d-flex justify-content-between">
            <p class="h3 float-start">Часто смотрят</p>
            <a routerLink="catalog" class="h5 float-end">Перейти в каталог</a>
        </div>
        <app-slider *ngIf="popularItems; else preloader2" [displaySize]="3" [sliderSize]="popularItems.length">
            <app-slide *ngFor="let item of popularItems">
                <div class="card product-card">
                    <img *ngIf="item.images[0] == null" src="assets/images/preview.jpg" class="card-img-top"
                         alt="preview.image">
                    <img *ngIf="item.images[0] != null" src="assets/images/uploaded/{{item.images[0]}}"
                         class="card-img-top" alt="item.image">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <a [routerLink]="['product', item.id]" class="advanced-input">Смотреть</a>
                    </div>
                </div>
            </app-slide>
        </app-slider>
        <ng-template #preloader2>
            <app-preloader type="2"></app-preloader>
        </ng-template>
    </div>
</section>

<app-footer></app-footer>