<form class="d-flex" [formGroup]="addForm" (submit)="onAdd()">
    <input type="text" placeholder="Название" formControlName="name">
    <select formControlName="category">
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
    </select>
    <button type="submit">Добавить</button>
</form>
<ul class="list-group list-group-flush w-100">
    <li class="list-group-item d-flex justify-content-between">
        <span>Название</span>
        <span>Связанные подкатегории</span>
        <span>Операции</span>
    </li>
    <li *ngFor="let subcategory of subcategories" class="list-group-item d-flex justify-content-between">
        <form #updateForm="ngForm">
            <input type="hidden" ngModel="{{subcategory.id}}" name="id">
            <input name="name" ngModel="{{subcategory.name}}" type="text">
            <select [ngModel]="subcategory.category.id" name="category" *ngIf="subcategory.id != 1">
                <option *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
            </select>
        </form>
        <div class="d-flex" *ngIf="subcategory.id != 1">
            <button class="rename-button border-0 bg-white mr-1" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Сохранить" (click)="onUpdate(updateForm)"><fa-icon [icon]="icons.check"></fa-icon></button>
            <button class="remove-button border-0 bg-white" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Удалить" (click)="onDelete(subcategory)"><fa-icon [icon]="icons.times" class="text-danger"></fa-icon></button>
        </div>
    </li>
</ul>