<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form #addForm="ngForm">
                <input type="text" class="advanced-input" placeholder="Название" name="name" ngModel>
<!--                <input type="file" id="add-item-images" class="advanced-input" (change)="imageLoader.load($event, true)" accept="image/*">-->
<!--                <label for="add-item-images">Добавить изображение</label>-->
<!--                <div class="images">-->
<!--                    <img src="{{image}}" class="image" *ngFor="let image of imageLoader.loadImages" (click)="imageLoader.removeImage($event)" alt="load.img">-->
<!--                </div>-->
                <button class="advanced-input" (click)="addCategory(addForm)">Добавить</button>
            </form>
        </div>
        <div class="col-md-8 pt-2">
            <div class="row">
                <div class="font-weight-bold col-md-1">#</div>
                <div class="font-weight-bold col-md-3">Название</div>
                <div class="font-weight-bold col-md-6">Связанные подкатегории</div>
                <div class="font-weight-bold col-md-2">Операции</div>
            </div>
            <div class="my-2" *ngFor="let category of categories">
                <app-category (categoryEmitter)="removeCategory(category)" [category]="category"></app-category>
            </div>
        </div>
    </div>
</div>