<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
                <input type="text" id="name" class="advanced-input" placeholder="Название" formControlName="name">
                <input type="file" id="add-category-image" class="d-none" (change)="categoryImageLoader.load($event)" accept="image/*">
                <label for="add-category-image">Добавить изображение</label>
                <div class="images">
                    <img *ngIf="categoryImageLoader.loadImage != null" src="{{categoryImageLoader.loadImage}}" class="image" (click)="categoryImageLoader.removeImage($event)" alt="load.img">
                </div>
                <button type="submit" class="advanced-input">Добавить</button>
            </form>
        </div>

        <div class="col-sm-4">
            <form [formGroup]="subCategoryForm" (ngSubmit)="addSubCategory()">
                <input type="text" class="advanced-input" placeholder="Название" formControlName="name">
                <input type="file" id="add-subcategory-image" class="d-none" (change)="subCategoryImageLoader.load($event)" accept="image/*">
                <label for="add-subcategory-image">Добавить изображение</label>
                <div class="images">
                    <img *ngIf="subCategoryImageLoader.loadImage != null" src="{{subCategoryImageLoader.loadImage}}" class="image" (click)="subCategoryImageLoader.removeImage($event)" alt="load.img">
                </div>
                <select formControlName="category">
                    <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                </select>
                <button type="submit" class="advanced-input">Добавить</button>
            </form>
        </div>

        <div class="col-sm-4">
            <form [formGroup]="itemForm" (ngSubmit)="addItem()">
                <input type="text" class="advanced-input" formControlName="name" placeholder="Название">
                <textarea class="advanced-input" formControlName="description" placeholder="Описание"></textarea>
                <input type="file" id="add-item-images" class="d-none" (change)="itemImagesLoader.load($event)" accept="image/*" multiple>
                <label for="add-item-images">Добавить изображения</label>
                <div id="images" class="images">
                    <img src="{{image}}" class="image" *ngFor="let image of itemImagesLoader.loadImages" (click)="itemImagesLoader.removeImage($event)" alt="load.img">
                </div>
                <input type="text" class="advanced-input" formControlName="price" placeholder="Цена">
                <input type="text" class="advanced-input" formControlName="count" placeholder="Кол-Во">
                <select formControlName="subCategory">
                    <option *ngFor="let subCategory of subCategories" value="{{subCategory.id}}">{{subCategory.name}}</option>
                </select>
                <button class="advanced-input">Добавить</button>
            </form>
        </div>

    </div>

    <div class="row">

        <div class="col-md-2">
            <select [(ngModel)]="selects" multiple>
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>

            <button (click)="setHomeCollection()">setHomeCollection</button>
        </div>

        <button (click)="getHomeCollection()">Get homeCollection</button>

        <div class="col-md-2">
            <input [(ngModel)]="popularItemsSize" type="text">

            <button (click)="setPopularSize()">setPopularItemSize</button>
        </div>

        <div class="col-md-2">
            <button (click)="getPopularItemSize()">getPopularItemSize</button>
        </div>
    </div>
</div>