header {
    position: fixed;
    width: 100%;
    padding: 2%;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: .3s;
}

header:hover {
    background-color: #fff;
}

header .logo img {
    width: 80%;
}

header .favorite fa-icon {
    color: #ffe18699;
    font-size: 18pt;
}

header .favorite-mobile a{
    color: #ffe18699;
}

.stick_header {
    background-color: #fffffff5;
    padding: 1%;
}

.active {
    border-bottom: 2px solid rgb(255, 225, 134);
}

.mobile{
    display: none;
}

@media (max-width: 500px) {
    header .logo img{
        width: 50%;
    }

    header .menu, header .favorite {
        max-height: 0;
        overflow: hidden;
    }

    .mobile{
        display: block;
    }

    .offcanvas-bottom{
        height: auto;
    }

    .content{
        padding-top: 7rem;
    }
}