<header>
    <div class="container">
        <div class="row h-100 align-items-center">

            <div class="col-11 col-sm-2 logo">
                <a routerLink="/">
                    <img src="../../../../assets/images/logo.png" alt="logo">
                </a>
            </div>

            <div class="col-sm-8 menu">
                <ul class="nav justify-content-end">
                    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/catalog">Каталог</a></li>
                    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/about">О нас</a></li>
                    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/contact">Контакты</a></li>
                </ul>
            </div>

            <div class="col-sm-2 text-center favorite">
                <a routerLink="/admin">Желаемое</a>
            </div>

        </div>
    </div>
</header>