.catalog .categories ul>li{
    margin-left: 5%;
}

.catalog .card{
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, .2);
}

.catalog .card img{
    max-height: 284px;
}

.active-link{
    color: #ffe186;
}

.open-button{
    position: fixed;
    top: 96px;
    color: rgba(214, 148, 0, 0.44);
    background: #ffe186;
    border-radius: 0 0 25px 0;
    padding: 10px 15px;
}