<app-header></app-header>

<section class="catalog content">
    <div class="container">
        <div class="row">

            <!--Breadcrumb-->

            <div class="col-md-12 mb-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                    </ol>
                </nav>
            </div>

            <!--Sidebar-->

            <div class="col-md-2 categories border-end">
                <ul class="nav flex-column mb-5" *ngFor="let category of categories">
                    <li class="fw-bold"><a [routerLink]="[category.name]" routerLinkActive="active-link">{{ category.name }}</a></li>
                    <li class="fw-light" *ngFor="let subCategory of category.subCategories">
                        <a [routerLink]="[category.name, subCategory.name]" routerLinkActive="active-link">{{ subCategory.name }}</a>
                    </li>
                </ul>
            </div>

            <!--Content-->

            <div class="col-md-10">
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</section>

<app-footer></app-footer>