<app-header></app-header>

<section class="catalog content">

    <button class="btn btn-primary open-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <fa-icon [icon]="icons.menu"></fa-icon>
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Каталог</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <app-sidebar></app-sidebar>
        </div>
    </div>

    <div class="container">
        <app-preloader *ngIf="loading"></app-preloader>
        <router-outlet></router-outlet>
    </div>
</section>

<app-footer></app-footer>