<div class="container">
    <div class="row">

        <div class="col-sm-2">
            <input [(ngModel)]="idSearch" type="text" class="advanced-input" placeholder="Id">
        </div>
        <div class="col-sm-4">
            <input [(ngModel)]="nameSearch" type="text" class="advanced-input" placeholder="Name">
        </div>
        <div class="col-sm-6">
            <select class="advanced-input" [(ngModel)]="subcategorySearch">
                <option value="0">Null</option>
                <option *ngFor="let subcategory of subcategories"
                        ngValue="{{subcategory.id}}">{{ subcategory.name }}</option>
            </select>
        </div>

        <div class="col-sm-12 fw-bolder row py-2 mt-2">
            <div class="col-sm-1">#</div>
            <div class="col-sm-2">Название</div>
            <div class="col-sm-2">Цена</div>
            <div class="col-sm-2">Кол-во</div>
            <div class="col-sm-3">Подкатегория</div>
            <div class="col-sm-2">Операции</div>
        </div>

        <div class="contain">

            <div class="border-top py-2"
                 *ngFor="let item of items | searchId: idSearch | searchName: nameSearch | searchSubCategory: subcategorySearch">
                <app-item (itemEmitter)="removeItem(item)" [item]="item" [subcategories]="subcategories"></app-item>
            </div>

        </div>
    </div>
</div>