<div class="container">
    <div class="row">
        <div class="col-sm-12 pt-2">
            <div class="row fw-bolder">
                <div class="col-sm-1">#</div>
                <div class="col-sm-2">Название</div>
                <div class="col-sm-2">Цена</div>
                <div class="col-sm-2">Кол-во</div>
                <div class="col-sm-3">Подкатегория</div>
                <div class="col-sm-2">Операции</div>
            </div>
            <div class="my-2" *ngFor="let item of items">
                <app-item (itemEmitter)="removeItem(item)" [item]="item" [subCategories]="subCategories"></app-item>
            </div>
        </div>
    </div>
</div>